# See README.md
# Data from Google Drive
TRB = {
    'data_source': 'google_drive',
    'data_auth': 'credentials.json',
    'google_drive_key': 'a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1a1',
    }

# Data from local files
TRB = {
    'data_source': 'tsv',
    'data_path': 'data',
    }
